<form class="note mt-3">
  <mat-form-field>
    <input [(ngModel)]="url" matInput placeholder="Enter Youtube URL" name="vid_url">
  </mat-form-field>
  <div class="btn-group">
    <button (click)="enterUrl()" mat-raised-button color="accent" class="mr-2" type="button">Submit</button>
    <button (click)="cancel()" mat-raised-button color="warn" type="button">Cancel</button>
  </div>
</form>
<div class="note__content">
  <app-video *ngIf="urlSubmitted" [url]="url | embed"></app-video>
  <app-note-content></app-note-content>
</div>

