<form class="form">
  <div class="text-center">
    <h4 *ngIf="!register">Sign-In</h4>
    <h4 *ngIf="register">Register</h4>
    <div>
      <button (click)="fsAuth.googleLogin()" mat-icon-button><i class="fa fa-google fa-2x" aria-hidden="true"></i>
      </button>
      <button (click)="emailLogin()" mat-icon-button><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></button>
    </div>
  </div>

  <div *ngIf="showEmail">
    <div *ngIf="!register; then userSignIn else userRegister">

    </div>
    <ng-template #userSignIn>
      <div class="form-group">
        <label for="user_email" name="email">Email:</label>
        <input [(ngModel)]="email" type="email" name="email" id="user_email" class="form-control">
      </div>
      <div class="form-group">
        <label for="user_pw">Password:</label>
        <input [(ngModel)]="password" type="password" name="pw" id="user_pw" class="form-control">
      </div>
      <div class="landing__btns btn-group">
        <button class="mr-2"
                (click)="fsAuth.login(email, password)"
                mat-raised-button color="primary"
                type="button">Sign-In
        </button>
        <button (click)="registerUser()"
                mat-raised-button color="accent"
                type="button">Register
        </button>
      </div>
    </ng-template>

    <ng-template #userRegister>
      <div class="form-group">
        <label for="entered_email">Enter Email:</label>
        <input [(ngModel)]="email" type="email" id="entered_email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label  for="entered_pw">Enter Password:</label>
        <input [(ngModel)]="password" name="pw" type="password" id="entered_pw" class="form-control">
      </div>
      <div class="landing__btns btn-group">
        <button class="mr-2" (click)="fsAuth.emailSignUp(email, password)"
                mat-raised-button color="primary"
                type="button">Sign-up
        </button>
        <button (click)="registerUser()"
                mat-raised-button color="accent"
                type="button">Cancel
        </button>
      </div>
    </ng-template>
  </div>

</form>
