@import '~@angular/material/theming';

@mixin nav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .nav {
    background-color: mat-color($primary);
  }
}

.nav-menu {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
  align-content: center;
  width: 100%;
  .nav-menu__item:first-child {
    flex: 1;
  }
  .mat-button {
    font-weight: bold;
  }
}
