<nav class="nav">

  <ul class="nav-menu">
    <li class="nav-menu__item">
      <button (click)="noteClick()" type="button" mat-icon-button>
        <i class="fa fa-sticky-note-o fa-3x" aria-hidden="true"></i>
      </button>
    </li>
    <li class="nav-menu__item">
      <a href="#" mat-icon-button><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    </li>
    <li class="nav-menu__item">
      <button mat-button>Sign Out</button>
    </li>
  </ul>

</nav>
<app-nav-dropdown></app-nav-dropdown>
