<div [@menuState]="navService.menu" class="dropdown mat-elevation-z6">
  <div class="dropdown__close">
    <button (click)="closeMenu()" mat-icon-button>
      <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
    </button>
  </div>
  <div>
    <h3>About This Project</h3>
    <hr>
  </div>
  <ul class="about__list">
    <li class="about__list-item">Enter a Youtube URL</li>
    <li class="about__list-item">Take notes in markdown</li>
    <li class="about__list-item">Preview notes by clicking the document icon</li>
    <li class="about__list-item">Save your resources</li>
    <li class="about__list-item">Update and delete notes from your list</li>
  </ul>
  <div class="dropdown__add">
    <button (click)="closeMenu()" mat-raised-button color="primary">
      <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
      Add Note
    </button>
  </div>
</div>
