<div *ngIf="cardSelected" class="note-list-section">
  <div *ngIf="url">
    <app-video [url]="url | embed"></app-video>
    <app-note-content [markdown]="markdown"></app-note-content>
  </div>

  <div  class="my-4 note-cards">

    <app-note-cards
      *ngFor="let note of notes"
      [note]="note"
      (viewClicked)="viewNote($event)">
    </app-note-cards>

  </div>
</div>
<div *ngIf="!cardSelected" class="temp-display my-4 p-4">
  <app-note-cards
    *ngFor="let note of notes"
    [note]="note"
    (viewClicked)="viewNote($event)">
  </app-note-cards>
</div>
