.video {
  height: 162px;
  max-width: 354px;
  margin: auto;
  iframe {
    width: 100%;
    height: 100%;
  }
 }

@media (min-width: 375px) {
  .video {
    max-width: 356px;
    height: 195px;
  }
}

@media (min-width: 576px) {
  .video {
    max-width: 100%;
    height: 281px;
  }
}


@media (min-width: 768px) {
  .video {
    height: 389px;
  }
}

@media (min-width: 992px) {
  .video {
    height: 299px;
  }
}

@media (min-width: 1200px) {
  .video {
    height: 412px;
  }
}
