

textarea {
  height: 220px;
  background: #eeeeee !important;
}

.preview {
  min-height: 338px;
}

.btn-group {
  padding: 10px 0;
  width: 100%;
  display: flex;
}

.delete {
  text-align: right;
  flex: 1;
}

@media (min-width: 576px) {
  .note__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: end;
    width: 100%;
  }
}
