<form class="note">
  <mat-form-field *ngIf="!preview">
    <textarea [(ngModel)]="markdown" name="user_text" matInput placeholder="Take notes!  (Supports Markdown)" type="text"></textarea>
  </mat-form-field>
  <div class="preview" *ngIf="preview">
    <markdown-to-html [data]="markdown"></markdown-to-html>
  </div>
  <div class="btn-group">
    <!-- View Markdown Button -->
    <div>
      <button (click)="togglePreview()" *ngIf="!preview" mat-fab color="accent">
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Preview Button -->
    <div>
      <button (click)="togglePreview()" *ngIf="preview" mat-fab color="accent">
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Save Button -->
    <div>
      <button (click)="saveResource()" class="mx-2" mat-fab color="primary">
        <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Delete Button -->
    <div class="delete">
      <button (click)="deleteResource()" mat-fab color="warn">
        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>
