<form class="note">
  <mat-form-field *ngIf="!preview">
    <textarea [(ngModel)]="markdown" name="user_text" matInput placeholder="Take notes!  (Supports Markdown)" type="text"></textarea>
  </mat-form-field>
  <div class="preview" *ngIf="preview">
    <markdown-to-html [data]="markdown"></markdown-to-html>
  </div>
  <div class="btn-group">
    <div>
      <button (click)="togglePreview()" *ngIf="!preview" mat-fab color="accent">
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div>
      <button (click)="togglePreview()" *ngIf="preview" mat-fab color="accent">
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div>
      <button class="mx-2" mat-fab color="primary">
        <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div class="delete">
      <button mat-fab color="warn">
        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>

<!-- MAYBE USE THIS IN A MODAL ON SAVE -->

<!--<div class="note__top">-->
  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Resource Title">-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Date" type="date">-->
  <!--</mat-form-field>-->
<!--</div>-->
