@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/prismjs/themes/prism-tomorrow.css';

@import '~@angular/material/theming';
@import 'app/nav/nav.component.scss';
@import 'app/nav/nav-dropdown/nav-dropdown.component.scss';
@import 'app/footer/footer.component.scss';
@include mat-core();


$video-app-primary: mat-palette($mat-cyan);
$video-app-accent:  mat-palette($mat-amber);
$video-app-warn:    mat-palette($mat-red);

$video-app-theme: mat-light-theme($video-app-primary, $video-app-accent, $video-app-warn);


@include angular-material-theme($video-app-theme);
@include nav-theme($video-app-theme);
@include nav-dropdown-theme($video-app-theme);
@include footer-theme($video-app-theme);

html, body {
  height: 100%;
  background-color: whitesmoke;
}


button:focus {
  outline: none;
}

a:hover {
  color: inherit;
}

mat-icon {
  font-family: 'Material Icons', sans-serif !important;
}
